.card {
  position: relative;
  transition: background 0.2s;
  overflow:hidden;
}

.card::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.card:hover::after {
  opacity: 0.4;
  cursor: pointer;
} 

.card-body{
  background-color: var(--primary-color);
    /* background-color: #b4b3e2; */
}

.card-title{
  color: var(--accent-color);
}

.text-muted{
  color: var(--shadow-color) !important;
}

.fw-bold{
  color: var(--secondary-color);
}